torch~=2.6.0
transformers~=4.49.0
torch-geometric~=2.6.1
matplotlib~=3.10.0
pandas~=2.2.3
scikit-learn~=1.5.2
dgl~=2.4.0.th24.cu124
numpy~=1.26.4
torchvision~=0.21.0
networkx~=3.4.2
sqlalchemy~=2.0.38
python-dateutil~=2.9.0post0
tqdm~=4.65.0